@model List<SocialMedia>


@* <div class="mb-4">
    <h5 class="border-bottom pb-2">Sosyal Medya Hesaplarımız</h5>
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item"><a href="@item.LinkUrl">@item.Title</a></li>
        }
    </ul>
</div>
 *@



<div class="widget">
    <h2 class="widget-title">Instagram Feed / Besleme</h2>
    <div class="instagram-wrapper clearfix">
        @foreach (var item in Model)
        {
            <a class="" href="@item.LinkUrl"><img src="@item.IconUrl" alt="" class="img-fluid"></a>



            @*             
            <a href="#"><img src="upload/small_01.jpg" alt="" class="img-fluid"></a>
            <a href="#"><img src="upload/small_02.jpg" alt="" class="img-fluid"></a>
            <a href="#"><img src="upload/small_03.jpg" alt="" class="img-fluid"></a>
            <a href="#"><img src="upload/small_04.jpg" alt="" class="img-fluid"></a>
            <a href="#"><img src="upload/small_05.jpg" alt="" class="img-fluid"></a>
            <a href="#"><img src="upload/small_06.jpg" alt="" class="img-fluid"></a>
            <a href="#"><img src="upload/small_07.jpg" alt="" class="img-fluid"></a>
            <a href="#"><img src="upload/small_08.jpg" alt="" class="img-fluid"></a> *@
        }
    </div>

    <!-- end Instagram wrapper -->
</div>

<!-- end widget -->
