@{
    Layout = null;
}

@* 
<body>
    <div class="container mt-4">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-4">
                <!-- Kategoriler -->
                KATEGORILER  BURASI ALINDI. 457


                <!-- Sosyal Medya -->
                SOSYAL MEDYA BURASI ALINDI  444


                <!-- Öne Çıkan Bloglar -->
                <div class="mb-4">
                    <h5 class="border-bottom pb-2">Öne Çıkan Bloglar</h5>
                    <ul class="list-group">
                        <li class="list-group-item">En İyi Yazılım Araçları</li>
                        <li class="list-group-item">Minimal Tasarım Rehberi</li>
                        <li class="list-group-item">2024 Seyahat Trendleri</li>
                    </ul>
                </div>

                <!-- Yazarlar -->
                <div>
                    <h5 class="border-bottom pb-2">Yazarlar</h5>
                    <ul class="list-group">
                        <li class="list-group-item">Ahmet Yılmaz</li>
                        <li class="list-group-item">Elif Kara</li>
                        <li class="list-group-item">Mehmet Öz</li>
                    </ul>
                </div>
            </div>

            <!-- Blog Listesi -->

            articlelist burası alındı 214


        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html> *@




























@await Component.InvokeAsync("_DefaultHeadComponentPartial")
<html>
<body>

    <div id="wrapper">
        <header class="market-header header">
            <div class="container-fluid">
                <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="marketing-index.html"><img src="~/markedia/images/version/market-logo.png" alt=""></a>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="marketing-index.html">Anasayfa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="marketing-category.html">Ürünler</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="marketing-category.html">Kategoriler</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="marketing-blog.html">Bloglar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="marketing-contact.html">İletişim</a>
                            </li>
                        </ul>
                        <form class="form-inline">
                            <input class="form-control mr-sm-2" type="text" placeholder="Size Nasıl Yardımcı Olabilirim?">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ara</button>
                        </form>
                    </div>
                </nav>
            </div><!-- end container-fluid -->
        </header><!-- end market-header -->

        <section id="cta" class="section" style="background-image:url(https://i.hizliresim.com/ixi9816.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 align-self-center">
                        <h2>Blog Yazma Tavsiyeleri</h2>
                        <p class="lead"> Blog yazarken öncelikle hedef kitlenizi belirlemek ve onların ihtiyaçlarına uygun içerikler oluşturmak çok önemlidir. İlgi çekici bir girişle okuyucuların dikkatini çekin ve yazınızı kolay okunabilir hale getirmek için kısa paragraflar, madde işaretleri ve başlıklar kullanın. Kendi deneyimlerinizi veya özgün bakış açınızı paylaşarak yazınıza samimiyet katabilirsiniz.</p>
                        <a href="#" class="btn btn-primary">Devamını Oku!</a>
                    </div>
                    <div class="col-lg-4 col-md-12">
                       
                        
                        

                        @await Component.InvokeAsync("_DefaultNewsletterComponentPartial")



                    </div>
                </div>
            </div>
        </section>

        <section class="section lb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-custom-build">
                                <div class="blog-box wow fadeIn">

                                    <!-- end media -->
                                    @await Component.InvokeAsync("_DefaultArticleListComponentPartial")







                                </div><!-- end blog-box -->

                                <hr class="invis">


                            </div>
                        </div>

                        <hr class="invis">

                        <div class="row">
                            <div class="col-md-12">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">



                       

                            @await Component.InvokeAsync("_DefaultRecentPostsListComponentPartial")




                            @await Component.InvokeAsync("_DefaultCategoryListComponentPartial")




                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>



        <footer class="footer">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <h2 class="widget-title">Recent Posts</h2>
                            <div class="blog-list-widget">
                                <div class="list-group">
                                    <a href="marketing-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="w-100 justify-content-between">
                                            <img src="upload/small_04.jpg" alt="" class="img-fluid float-left">
                                            <h5 class="mb-1">5 Beautiful buildings you need to before dying</h5>
                                            <small>12 Jan, 2016</small>
                                        </div>
                                    </a>

                                    <a href="marketing-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="w-100 justify-content-between">
                                            <img src="upload/small_05.jpg" alt="" class="img-fluid float-left">
                                            <h5 class="mb-1">Let's make an introduction for creative life</h5>
                                            <small>11 Jan, 2016</small>
                                        </div>
                                    </a>

                                    <a href="marketing-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="w-100 last-item justify-content-between">
                                            <img src="upload/small_06.jpg" alt="" class="img-fluid float-left">
                                            <h5 class="mb-1">Did you see the most beautiful sea in the world?</h5>
                                            <small>07 Jan, 2016</small>
                                        </div>
                                    </a>
                                </div>
                            </div><!-- end blog-list -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <h2 class="widget-title">Popular Posts</h2>
                            <div class="blog-list-widget">
                                <div class="list-group">
                                    <a href="marketing-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="w-100 justify-content-between">
                                            <img src="upload/small_01.jpg" alt="" class="img-fluid float-left">
                                            <h5 class="mb-1">Banana-chip chocolate cake recipe with customs</h5>
                                            <span class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                        </div>
                                    </a>

                                    <a href="marketing-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="w-100 justify-content-between">
                                            <img src="upload/small_02.jpg" alt="" class="img-fluid float-left">
                                            <h5 class="mb-1">10 practical ways to choose organic vegetables</h5>
                                            <span class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                        </div>
                                    </a>

                                    <a href="marketing-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="w-100 last-item justify-content-between">
                                            <img src="upload/small_03.jpg" alt="" class="img-fluid float-left">
                                            <h5 class="mb-1">We are making homemade ravioli, nice and good</h5>
                                            <span class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </div><!-- end blog-list -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <h2 class="widget-title">Popular Categories</h2>
                            <div class="link-widget">
                                <ul>
                                    <li><a href="#">Marketing <span>(21)</span></a></li>
                                    <li><a href="#">SEO Service <span>(15)</span></a></li>
                                    <li><a href="#">Digital Agency <span>(31)</span></a></li>
                                    <li><a href="#">Make Money <span>(22)</span></a></li>
                                    <li><a href="#">Blogging <span>(66)</span></a></li>
                                    <li><a href="#">Entertaintment <span>(11)</span></a></li>
                                    <li><a href="#">Video Tuts <span>(87)</span></a></li>
                                </ul>
                            </div><!-- end link-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div><!-- end row -->

                <div class="row">
                    <div class="col-md-12 text-center">
                        <br>
                        <br>
                        <div class="copyright">&copy; Markedia. Design: <a href="http://html.design">HTML Design</a>.</div>
                    </div>
                </div>
            </div><!-- end container -->
        </footer><!-- end footer -->

        <div class="dmtop">Scroll to Top</div>

    </div><!-- end wrapper -->
    @await Component.InvokeAsync("_DefaultScriptsComponentPartial");

</body>
</html>