@model Newsletter


<div class="newsletter-widget text-center align-self-center">
    <h3>Hemen üye olun!</h3>
    <p>Haftalık Bültenimize abone olun ve güncellemeleri e-posta yoluyla alın.</p>
    <form asp-controller="Article" asp-action="SubscribeNewsletter" class="form-inline" method="post">
        <input type="text" asp-for="NewsletterEmail" placeholder="Email adresiniz..." class="form-control" />
        <input type="submit" value="Kolayca Üye Olun" class="btn btn-default btn-block" />
    </form>
</div><!-- end newsletter -->
