@model List<Category>


<div class="widget">
    <h2 class="widget-title">Popüler Kategoriler</h2>
    <div class="link-widget">
       
        @foreach (var item in Model)
        {
            <ul>
                <li><a href="#">@item.CategoryName <span>(@item.CategoryArticleCount)</span></a></li>
            </ul>
        }

    </div><!-- end link-widget -->
</div><!-- end widget -->