@model Article
@{
    ViewData["Title"] = "ArticleUpdate";
    Layout = "~/Areas/Author/Views/_AuthorLayout.cshtml";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div style="margin-left:600px" class="container"> <b>İlgili yazıyı bu sayfadan güncelleyebilirsiniz</b></div>
<br />
<form method="post">
    <div class="container">
        <input type="hidden" asp-for="ArticleId" class="form-control" />
        <input type="hidden" asp-for="AppUserId" class="form-control" />
        <input type="hidden" asp-for="CreatedDate" class="form-control" />
        <label>Başlık</label>
        <input type="text" asp-for="Title" class="form-control" placeholder="Başlığınızı buraya yazınınız" />
        <br />

        <label>İçerik</label>
        <textarea asp-for="Detail" rows="10" class="form-control" placeholder="Oluşturacağınız içeriği buraya yazınız"></textarea>
        <br />

        <label>Kategori Seçiniz</label>
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.Categories, new { @class = "form-control" })
        <br />

        <label>Kapak Resmi</label>
        <input type="text" asp-for="CoverImageUrl" class="form-control" placeholder="Görsel Linkini buraya yazınız" />
        <br />

        <label>Ana Resm</label>
        <input type="text" asp-for="MainImageUrl" class="form-control" />
        <br />
        <button type="submit" class="btn btn-info">Düzenle</button>
    </div>
</form>
