@model List<Article>

@{
    Layout = "~/Areas/Author/Views/_AuthorLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Dashboard Index</title>
</head>
<body>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />


    <br />
    <br />
    <div class="container">
        <table class="table table-bordered">
            <tr>
                <th>Başlık</th>
                <th>Sitede Gör</th>
                <th>Sil</th>
                <th>Güncelle</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td><a href="/Article/ArticleDetail/@item.ArticleId" class="btn btn-primary">Sitede Gör</a></td>
                    <td><a href="/Author/Article/ArticleUpdate/@item.ArticleId" class="btn btn-warning">Güncelle</a></td>
                    <td><a href="/Author/Article/ArticleDelete/@item.ArticleId" class="btn btn-danger">Sil</a></td>
                </tr>
            }
        </table>
        <a href="/Author/Article/ArticleCreate">Yeni Yazı Oluştur</a>
    </div>




</body>
</html>
